.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: url('../img/bg.webp');
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
}

.text-red {
  color: #fff;
  text-shadow:
  0 0 3px #ff1616,
  0 0 6px #ff1616,
  0 0 12px #ff1616;
}

.text-white {
  color: #fff;
  text-shadow: 0 0 6px #ff4040;
}

.text-large {
  font-size: 1.5rem;
}

.btn-teams {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  font-size: 30px;
}
.btn-teams:hover {
  color: #ffffff;
  background-color: #7b83eb;
  border-color: #7b83eb;
}
.btn-teams:focus {
  box-shadow: 0 0 0 0.2rem #7b83eb;
}

.btn-campuslink {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  font-size: 30px;
}
.btn-campuslink:hover {
  color: #ffffff;
  background-color: #37af48;
  border-color: #37af48;
}
.btn-campuslink:focus {
  box-shadow: 0 0 0 0.2rem #7b83eb;
}

.feature-boxes .icon-box, .feature-boxes .icon-box-inner {
  width: 80px;
  height: 80px;
}

.feature-boxes .icon-box-inner span {
  font-size: 26px;
  margin: auto;
}

img.logo {
  height: 50px;
}

@media (min-width: 576px) { 
  img.logo {
    height: 65px;
  }
}

@media (min-width: 768px) { 
  img.logo {
    height: 80px;
  }
}

@media (min-width: 992px) { 
  img.logo {
    height: 120px;
  }
}
